<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.objective-see.lulu.configHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>helper</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.1</string>
	<key>CFBundleVersion</key>
	<string>1.2.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2019 Objective-See. All rights reserved.</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>anchor apple generic and identifier &quot;com.objective-see.lulu.installer&quot; and certificate leaf[subject.CN] = &quot;Apple Development: 972008514@qq.com (DK8DU26S32)&quot;</string>
	</array>
</dict>
</plist>
